# Exclude all files from root directory
/*

# ------------------------
# Common project files
!CHANGELOG.md
!README.md
!LICENSE

# Dotfiles
!aws
!bin
!debian-linux
!docker
!git
!github
!hyprland
!kitty
!marksman
!proselint
!regolith
!shell
!ssh
!tui
!zsh

# ------------------------
# Include Zensical files
!docs/
!includes/
!overrides/
!mkdocs.yml
!zensical.toml

# ------------------------
# Project automation
!Makefile*

# ------------------------
# Version Control
!.gitignore
!.gitattributes
!.github/
