[Desktop Entry]
Categories=Application;System;
Comment=OpenJDK Java 25 Monitoring & Management Console
Comment[fi]=OpenJDK Java 25 - valvonta- ja hallintakonsoli
Exec=/usr/lib/jvm/java-25-openjdk/bin/jconsole
Icon=java25-openjdk
Keywords=java;console;monitoring
Name=OpenJDK Java 25 Console
Name[fi]=OpenJDK Java 25 - konsoli
Terminal=false
Type=Application
